.formacion{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.formacion-box{
    background-color: rgb(177, 222, 223);
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    margin: .5rem;
    width: 12%;
}

.formacion-box:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    background: linear-gradient(45grad, #885EF0, rgb(49, 144, 227));
    transform: scale(1.1);
}

.formacion-img{
    align-items: center;
    padding: .1rem .3rem;
    width: 90%;
}

.formacion-descripcion{
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
    text-align: center;
}