.headerPrincipal{            /*USAMOS LA ETIQUETA PADRE*/
    align-items: center;                /*Los pone aline*/
    display: flex;                      /*Hace que todo el header y container se vuelva flexible*/
}

.headerPrincipal-nav{                   /*USAMOS LA ETIQUETA PADRE*/
    display: flex;                      /*Hace que todo el menú se vuelva flexible*/
    width: 100%;
    flex-wrap: wrap;
}

.headerPrincipal-nav-link{
    color: white;
    font-size: 16px;
    padding: 0.5rem;
    text-decoration: none;
    width: 5%;
    border-bottom: 2px solid transparent;
    margin: 15px;
}

.headerPrincipal-nav-link:hover{
    border-image: linear-gradient(to right, #00E0FF,#BB5AF6, #748AE3)2;
    cursor: pointer;
} 