.headerPrincipal .container{            /*USAMOS LA ETIQUETA PADRE*/
    align-items: center;                /*Los pone alineados al centro*/
    background: linear-gradient(black, #18423B);
    display: flex;                      /*Hace que todo el header y container se vuelva flexible*/
    justify-content: flex-end;
    padding: .4rem;
}

.headerPrincipal-nav{                   /*USAMOS LA ETIQUETA PADRE*/
    display: flex;                      /*Hace que todo el menú se vuelva flexible*/
}

.headerPrincipal-nav-link{
	background-color: #516B6C;
    border-radius: 5px;
	color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: .5rem;
	text-decoration: none;
    width: 4rem;
}

.headerPrincipal-nav-link:hover{
    background: #748AE3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    transform:scale(1.2);
} 