.rodapie{
    background: linear-gradient( #44227E, #0A0E37);
    opacity: 0.7;
    text-align: center;
    padding-bottom: 1rem;
    color: white;
}

.rodapie-img{
    width: 8%;
    border-radius: 30px;
}

.rodapie-texto{
    font-weight: 600;
    line-height: 1.3rem;
}