.hard2{
    display: flex;
    padding: 1rem;
}

.tecnologia2{
    display: flex;
    height: 12rem;
    justify-content: space-between;
}   
.hard_box2{
    background-color: rgb(117, 176, 178);
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    height: 11rem;
    margin: 0 1rem 1rem 1rem;
    padding: .5rem;
    width: 11%;
}

.hard_box2:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    background: linear-gradient(45grad, #885EF0, rgb(16, 85, 145));
    transform: scale(1.1);
}
.hard_img2{
    width: 100%;
}

.hard_box_titulo2{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding-top: .5rem;
}

@media (max-width:768px){ 
    .hard2{
        display: flex;
        justify-content: space-around;
        padding: .5rem;
    }

    .tecnologia2{
        display: flex;
        height: 5.7rem;
    }

    .hard_box2{
        height: 4.3rem;
        margin: .3rem;
        width: 3.3rem;
    }

    .hard_box_titulo2{
        font-size: .7rem;
    }

    .hard_img2{
        width: 90%;
    }
}