.info{
   display: flex;
   justify-content: center;
}
.colaboradores-box3{        /*CAJA DE FOTO*/
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 2rem;
    padding-left: 2rem;
    justify-content: center;
}

.colab-box1{
    position: relative;
    max-width: none;
    margin-right: 30px;
}
.colab-box1::before {
    content: "";
    position:absolute;
    inset: -15px;
    border: 5px solid #573592;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin 5s linear infinite; 
}
@keyframes spin {
   to{ transform: rotate(360deg);}
}
.img_colab1{
    width: 270px;
    height: 270px;
    border-radius: 100%;
    object-fit: cover;
}
.cargo{
    background-image: linear-gradient(90deg, #00E0FF, #BB5AF6);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}


.info-descripcion{                      /*CAJA DESCRIPCIÓN PERSONAL*/
    width: 70%;
    padding:1rem 2.5rem 1.5rem 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-descripcion p{                      
    background: linear-gradient( #44227E, #0A0E37);
    width: 80%;
    padding:25px;
    text-align: justify;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 20px;
    border: #44227E solid;
    font-weight: 400;
}

.titulo{
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    color: #ffffff;
    font-weight: 700;
    margin-top: 50px;
}

.box-redes{                         /*CAJA DE REDES*/
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-redes a{
    background-color: black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    align-items: center;
    margin: 5px 0;
}
.cv, .fa.fa-linkedin, .fa.fa-github, .fa-itch-io:before {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.box-redes a:hover{
    border: solid;
    border-image: linear-gradient(to right, #00E0FF, #BB5AF6) 1;
}