.info{
   display: flex;
}

.info-foto{
    padding: 1rem 0 1rem 1rem;
    width: 40%;
}

.foto{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    width: 100%;
}

.info-descripcion{
    font-size: 1.4rem;
    padding:1rem 2.5rem 1.5rem 1.7rem;
    text-align: justify;
    line-height: 2rem;
    color: black;
}

.titulo{
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    color: beige;
}

.info-descripcion a{
    background-color: #516B6C;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    color: white;
    margin: 1rem .5rem .5rem .5rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    width: 3.5rem;
    font-weight: 600;

}

.info-descripcion a:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    background: #885EF0;
    transform: scale(1.2);
}

@media (max-width:768px){       /*PARA TABLET*/
    .info{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .info-foto{
        width: 100%;
    }
    .foto{
        margin-left: 35%;
        width: 30%;
    }
    .info-descripcion{
        font-size: 1rem;
        padding: 1rem;
    }
    .titulo{
        font-size: 1.5rem;
        text-align: center;
    }
    .info-descripcion a{
        display: inline;
        height: 1rem;
        margin: .2rem;
        padding: .5rem;
    }
}