.info{
   display: flex;
}
.colaboradores-box3{
    width: 40%;
    padding-top: 2rem;
    padding-left: 2rem;
}
.colab-box1{
    position: relative;
    max-width: 10rem;
}
.colab-box1::before {
    content: "";
    position:absolute;
    inset: -15px;
    border: 5px solid #000000;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin 5s linear infinite; 
}
@keyframes spin {
   to{ transform: rotate(360deg);}
}
.img_colab1{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    object-fit: cover;
}
.cargo{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2.5rem;
    color: rgb(245 245 220);
    text-shadow: 2px 2px 5px rgb(0 0 0 / 80%);
}
.hdv{
    background-color: #516B6C;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    color: white;
    padding: .5rem;
    font-size: 1.5rem;
    margin-top: 1.42rem;
}
.info-descripcion{
    font-size: 1.4rem;
    padding:1rem 2.5rem 1.5rem 1.7rem;
    text-align: justify;
    line-height: 2rem;
    color: black;
}
.titulo{
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    color: beige;
}
.info-descripcion a{
    background-color: #516B6C;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    color: white;
    margin: 1rem .5rem .5rem .5rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    width: 3.5rem;
    font-weight: 600;

}
.info-descripcion a:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    background: #885EF0;
    transform: scale(1.2);
}